* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", sans-serif;
  /* border: 1px solid red; */
}

:root {
  --light-blue: rgba(30, 150, 137, 1);
  --medium-blue: rgba(33, 54, 128, 1);
  --dark-blue: #1f0070;
  --extra-dark-blue: #0e0033;
  --darkest-blue: #08001f;
  --gradient-middle: 60%;
  --mid-gray:  rgba(255, 255, 255, 0.1);
}

body {
  background: #09001d;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: transparent;
  /* background: rgb(10,0,36);; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  filter: drop-shadow(0 0 5px #09001d);
}

.navbar a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
}

.navbar a:hover,
.navbar a.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.main {
  /* min-height: 100vh; */
  background: rgb(10, 0, 36);
  background: linear-gradient(
    135deg,
    var(--darkest-blue) 0%,
    var(--medium-blue) var(--gradient-middle),
    var(--light-blue) 100%
  );
  pointer-events: auto;
  transition: 0.3s ease;
}

.main.active {
  filter: blur(15px);
  pointer-events: none;
}

.container {
  display: flex;
  /* height: 100vh; */
  width: 200%;
}

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -50%;
}

.home-content {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
}

.home-content h1 {
  margin-top: 5rem;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.home-content p {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.home-content .start-btn {
  width: 50vw;
  max-width: 200px;
  height: 4rem;
  background-color: var(--extra-dark-blue);
  border: 1px solid var(--extra-dark-blue);
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 20px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.home-content .start-btn:hover {
  box-shadow: 0 0 50px;
  background-color: var(--darkest-blue);
  border: 1px solid var(--darkest-blue);
}

.popup-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 90vw;
  max-width: 400px;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.popup-info.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2 {
  font-size: 3rem;
  color: var(--dark-blue);
}

.popup-info .info {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #333;
  margin: 0.5rem 0;
}

.popup-info .btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #999;
  padding: 1rem 0 0.5rem;
}

.popup-info .btn-group .info-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  background: var(--extra-dark-blue);
  border: 2px solid var(--extra-dark-blue);
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.5s;
}



.popup-info .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: var(--dark-blue);
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
  background: var(--extra-dark-blue);
  color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
  background: var(--darkest-blue);
  border-color: var(--darkest-blue);
  box-shadow: 0 0 40px var(--darkest-blue);
  font-weight: 700;
}

.quiz-section {
  width: 100%;
  position: relative;
  /* left: -50%; */
  left: 0;
  margin: 0 auto;
  margin-top: 0;
  /* transition: 0.8s ease-in-out;
  transition-delay: 0.25s; */
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(10, 0, 36);
  background: linear-gradient(
    135deg,
    var(--darkest-blue) 0%,
    var(--medium-blue) var(--gradient-middle),
    var(--light-blue) 100%
  );
}

.quiz-section.active {
  left: 0;
}

.quiz-section .quiz-box {
  position: relative;
  padding: 0.5rem;
  width: 90vw;
  max-width: 600px;
  margin: 0.5rem;
  min-height: 90vh;
  background: transparent;
  border: 3px solid var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  gap: 1vh;
}

.quiz-section .quiz-box.active{
opacity: 1; 
pointer-events: auto;
transform: scale(1);
transition: 1s ease;
transition-delay: 1s;
}

.quiz-box h1 {
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
  background:var(--darkest-blue);
  background: linear-gradient(
    45deg,
    transparent,
    var(--darkest-blue),
    transparent
  );
  border-radius: 0.5rem;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .1rem 0;
  border-bottom: 2px solid var(--light-blue);
}

.quiz-header span {
  color: #fff;
  font-size: 0.9rem;
}

.quiz-box .question-text {
  color: #fff;
  font-size: 1.2rem;
}

.option-list {
  display: flex;
  gap: 2vh;
  flex-direction: column;
}

.option-list .option {
  color: #fff;
  font-size: 1rem;
  width: 90%;
  margin: 0 auto;
  padding: .4rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
  /* transition: 0.3s; */
}

.option-list .option:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.option-list .option.correct {
background-color: #016b56;
}

.option-list .option.incorrect {
  background-color: #a60045;
}

.option-list .option.disabled {
  pointer-events: none;
}

.quiz-box .quiz-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--light-blue);
  padding-top: .5rem;
  gap: .5rem;
  width: 90%;
}

.question-total {
  font-size: 1rem;
}

.quiz-score {
  color: #fff;
  background: var(--mid-gray);
  border: 3px solid var(--light-blue);
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quiz-footer .next-btn{
pointer-events: none;
}

.quiz-footer .next-btn.active{
  background: var(--extra-dark-blue);
  pointer-events: auto;
}

.quiz-footer .back-btn, .quiz-footer .next-btn{
  background: var(--mid-gray);
  }

.quiz-footer .next-btn, .quiz-footer .back-btn {
  width: 110px;
  height: 50px;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.quiz-footer .next-btn.active:hover {
  background-color: var(--darkest-blue);
  box-shadow: 0 0 20px;
}

.quiz-footer .back-btn:hover {
  background-color: var(--darkest-blue);
}

.quiz-section .result-box{
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: transparent;
  border: 2px solid var(--light-blue);
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.result-box h2 {
  font-size: 3rem;
}

.result-box .percentage-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.percentage-container .circular-progress{
  position: relative;
  width: 200px;
  height: 200px;
  background: conic-gradient(var(--light-blue) 3.6deg, rgba(255, 255, 255, 0.1) 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage-container .circular-progress::before{
  content: '';
  position: absolute;
  width: 160px;
  height: 160px;
  background: var(--darkest-blue);
  border-radius: 50%;
}

.circular-progress .progress-value {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
}

.percentage-container .score-text {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.buttons button{
  width: 45%;
  height: 3rem;
  background: var(--darkest-blue);
  border: 2px solid var(--darkest-blue);
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s;
}

.buttons button:nth-child(1):hover {
  background: var(--dark-blue);
  border: var(--dark-blue);
  
}

.buttons button:nth-child(2) {
  background: transparent;
}

.buttons button:nth-child(2):hover {
  background: var(--dark-blue);
}